@import 'tailwindcss';

:root {
	--background: #ffffff;
	--foreground: #1f1f1f;
	--main: #49b7e3;
	--foremain: #167da6;
	--foreground-dark: #313131;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-main: var(--main);
	--color-foremain: var(--foremain);
	--color-foreground-dark: var(--foreground-dark);
	--color-silver: #8e8e8e;

	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--font-roboto: var(--font-roboto-serif);
	--font-open-sans: var(--font-open-sans);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #1f1f1f;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	display: flex;
	flex-direction: column;
	min-height: 100%;
	@apply font-open-sans;
}

body > main {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.container {
	@apply max-w-325 mt-0 mx-auto;
}

.card {
	@apply bg-foreground-dark px-3 py-2 rounded-md;
}

.neon-gradient {
	@apply bg-linear-to-b from-main to-foremain text-white border-none relative transition-all duration-300;

	box-shadow:
		inset 0 1px 0 0 rgba(255, 255, 255, 0.5),
		0 0 10px rgba(0, 230, 255, 0.4),
		0 0 15px rgba(0, 230, 255, 0.2);
}

.text-neon-gradient {
	@apply bg-linear-to-b from-main to-foremain bg-clip-text text-transparent inline-block;
	filter: drop-shadow(0 0 8px rgba(0, 210, 255, 0.3));
}

.neon-gradient:hover:not(:disabled) {
	box-shadow:
		inset 0 1px 0 0 rgba(255, 255, 255, 0.7),
		0 0 15px rgba(0, 230, 255, 0.6),
		0 0 25px rgba(0, 230, 255, 0.3);
	filter: brightness(1.1);
}

.neon-gradient:active:not(:disabled) {
	@apply scale-98;
}

.neon-outline {
	@apply bg-[rgba(255,255,255,0.03)] text-[#ccffff] border border-main transition-all duration-300 ease-out relative overflow-hidden;

	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);

	box-shadow:
		0 0 10px rgba(0, 255, 255, 0.2),
		0 0 20px rgba(0, 255, 255, 0.1);
}

.neon-outline:hover:not(:disabled),
input.neon-outline:focus {
	@apply bg-[rgba(0,255,255,0.07)] border-[rgba(0,255,255,0.8)] text-white;
	box-shadow:
		0 0 15px rgba(0, 255, 255, 0.4),
		0 0 30px rgba(0, 255, 255, 0.2);
}

.neon-outline:active:not(:disabled) {
	@apply scale-98;
}
